VITE_SUPABASE_URL=https://qbuycglautjmciazfkit.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFidXljZ2xhdXRqbWNpYXpma2l0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY5MzY4MTQsImV4cCI6MjA4MjUxMjgxNH0.IlkKqpafIMAR0yk_XVNN-LcyIyTfvu4sbeM79T3K4FI